fieldset {
    margin: 10px;
}

input[name=hours-ago] {
    width: 50px;
}

.category-container {
    height: 160px;
    overflow: scroll;
    border: 1px solid silver;
    padding: 3px
}

.autorefresh-progress {
    height: 3px;
    position: relative;
}

.autorefresh-progress > span {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: red;
}

/* https://github.com/mgcrea/angular-strap/issues/398 */
.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
}
.datepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.datepicker.dropdown-menu tbody {
    height: 180px;
}
.datepicker.dropdown-menu tbody button {
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}

.timepicker.dropdown-menu {
    padding: 0 4px;
}
.timepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.timepicker.dropdown-menu tbody button {
    padding: 6px;
}
/* eof https://github.com/mgcrea/angular-strap/issues/398 */
