<!DOCTYPE html>
<html>
<head>
    <title>Changelog :)</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body ng-app="changelog.application">
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.tpl.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js"></script>

<script src="/static/js/changelog.application.js"></script>
<script src="/static/js/changelog.controllers.js"></script>
<script src="/static/js/changelog.services.js"></script>
<script src="/static/js/changelog.directives.js"></script>
<script src="/static/js/changelog.filters.js"></script>
<div class="container-fluid">
    <div class="row" ng-controller="InputController">
        <div ng-show="isDashboard">
            <div class="autorefresh-progress" ng-controller="AutorefreshController">
                <span ng-style="{width: percent + '%'}"></span>
            </div>
            {{ percent }}
        </div>
        <form id="filters" class="form-horizontal" ng-show="!isDashboard">
            <div class="col-md-2">
                <fieldset>
                    <legend>Criticality</legend>
                    <div class="form-group">
                        <div class="checkbox" ng-repeat="current in ['5', '4', '3', '2', '1']">
                            <label>
                                <input type="checkbox" name="criticality"
                                       ng-checked="criticality.isChecked(current)"
                                       ng-click="criticality.toggle(current)">
                                <span ng-bind="current"></span>
                                <span ng-if="current === '5'">(Most critical)</span>
                                <span ng-if="current === '1'">(Least critical)</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" type="button" ng-click="criticalities.clear()">Show all criticalities</button>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-3">
                <fieldset>
                    <legend>Time-range</legend>
                    <div class="form-group">
                        <div class="btn-group" id="timerange-radio" bs-radio-group ng-model="timerangeRadio">
                            {% for amount, unit in [(1, 'h'), (4, 'h'), (1, 'd'), (1, 'w'), (1, 'M')] %}
                            <label class="btn btn-default btn-sm">
                                <input type="radio" class="btn btn-default timerange-relative" value="last:{{ amount }}:{{ unit }}">{{ amount }}{{ unit }}
                            </label>
                            {% endfor %}
                            <label class="btn btn-default btn-sm">
                                <input type="radio" class="btn btn-default" value="fixed">Fixed time range
                            </label>
                        </div>
                    </div>
                    <div class="form-group time-range-fixed" ng-show="timerangeRadio === 'fixed'">
                        <div class="col-md-2">From</div>
                        <div class="col-md-5">
                            <input class="form-control" ng-model="fromDate" bs-datepicker date-format="yyyy-MM-dd" autoclose="1">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" ng-model="fromDate" bs-timepicker data-time-format="HH:mm:ss" autoclose="1">
                        </div>
                    </div>
                    <div class="form-group time-range-fixed" ng-show="timerangeRadio === 'fixed'">
                        <div class="col-md-2">To</div>
                        <div class="col-md-5">
                            <input class="form-control" ng-model="toDate" bs-datepicker date-format="yyyy-MM-dd" autoclose="1">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" ng-model="toDate" bs-timepicker time-format="HH:mm:ss" autoclose="1">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-2">
            <fieldset>
                    <legend>Categories</legend>
                    <div class="controls category-container">
                        {% for current in categories %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="category" value="{{current}}"
                                        ng-checked="category.isChecked('{{ current }}')"
                                        ng-click="category.toggle('{{ current }}')">{{current}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <button id="clear-category-filter" class="btn btn-default col-md-12" type="button"
                            ng-click="category.clear()">Show all categories</button>
                </fieldset>
            </div>
            <div class="col-md-3">
              <fieldset>
                <legend>Description</legend>
                <div class="form-group">
                  Contains:
                  <input type='text' class="form-control" ng-model="description" style="display:inline; width:80%;" ng-debounce>
                </div>
              </fieldset>
            </div>
            <div class="col-md-5">
                {% raw %}
                <fieldset>
                    <legend><a href="#" id="permalink" ng-href="{{ permalink }}">Permalink</a></legend>
                    <div>
                        <p id="permalink-code">{{ permalink }}</p>
                    </div>
                    <button class="btn btn-default" ng-click="isDashboard = 1">Dashboard view</button>
                </fieldset>
                {% endraw %}
            </div>
        </form>
    </div>
    {% raw %}
    <div class="row-fluid" ng-controller="EventListController">
        <div ng-show="loading" class="col-md-offset-5">
            <h3>
                <i class="glyphicon glyphicon-refresh"></i>
                Loading...
            </h3>
        </div>
        <table id="events" class="table table-bordered table-hover table-condensed" ng-show="!loading">
            <thead>
            <tr>
                <th>Criticality</th>
                <th>Category</th>
                <th>Time</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events">
                    <td>{{ event.criticality }}</td>
                    <td>{{ event.category }}</td>
                    <td>{{ event.unix_timestamp*1000|date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td ng-bind-html="event.description|unsafeHtml"></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endraw %}
</div>
</body>
</html>
