<!DOCTYPE html>
<html>
<head>
    <title>Changelog :)</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-hashchange/v1.3/jquery.ba-hashchange.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/changelog.js"></script>
<div class="container-fluid">
    <div class="row">
        <form id="filters" class="form-horizontal">
            <div class="col-md-2">
                <fieldset>
                    <legend>Criticality</legend>
                    <div class="form-group">
                        {% for criticality in range(1,6)|reverse %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="criticality" value="{{ criticality }}">
                                    {{ criticality }}
                                    {% if criticality == 5 %}(Most critical){% endif %}
                                    {% if criticality == 1 %}(Least critical){% endif %}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <button id="clear-criticality-filter" class="btn btn-default" type="button">Show all criticalities</button>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-3">
                <fieldset>
                    <legend>Time-range</legend>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons" id="relative-time-ranges">
                            {% for amount, unit in [(1, 'h'), (4, 'h'), (1, 'd'), (1, 'w'), (1, 'M')] %}
                            <label class="btn btn-default btn-sm">
                                <input type="radio" name="time-range" value="last:{{ amount }}:{{ unit }}">{{ amount }}{{ unit }}
                            </label>
                            {% endfor %}
                            <label class="btn btn-default btn-sm">
                                <input type="radio" name="time-range" value="fixed">Fixed time range
                            </label>
                        </div>
                    </div>
                    <div class="form-group time-range-fixed">
                        <div class="col-md-2">From</div>
                        <div class="col-md-9">
                            <div class="input-group date" id="from-timestamp" data-date-format="YYYY-MM-DD HH:mm:ss">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group time-range-fixed">
                        <div class="col-md-2">To:</div>
                        <div class="col-md-9">
                            <div class="input-group date" id="until-timestamp" data-date-format="YYYY-MM-DD HH:mm:ss">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-2">
            <fieldset>
                    <legend>Categories</legend>
                    <div>(You can scroll the list)</div>
                    <div class="controls category-container">
                        {% for category in categories %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="category" value="{{category}}">{{category}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <button id="clear-category-filter" class="btn btn-default col-md-12" type="button">Show all categories</button>
                </fieldset>
            </div>
            <div class="col-md-3">
              <fieldset>
                <legend>Description</legend>
                <div class="form-group">
                  Contains:
                  <input type='text' class="form-control" name="description" style="display:inline; width:80%;">
                </div>
              </fieldset>
            </div>
            <div class="col-md-5">
            <fieldset>
                <legend><a href="#" id="permalink">Permalink</a></legend>
                <div>
                    <pre id="permalink-code"></pre>
                </div>
            </fieldset>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <table id="events" class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>Criticality</th>
                <th>Category</th>
                <th>Time</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
